<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160527228258-3qrleulvqtvkj6b813igg960nr802eac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160527228258-3qrleulvqtvkj6b813igg960nr802eac</string>
	<key>API_KEY</key>
	<string>AIzaSyAWvrMpuHCtHVeDjchdkCRc2i_ElsfKvlw</string>
	<key>GCM_SENDER_ID</key>
	<string>160527228258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.SpaceInvadersExample</string>
	<key>PROJECT_ID</key>
	<string>unity-space-invaders-rt</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-space-invaders-rt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160527228258:ios:c23ac02dc9a194f392603b</string>
	<key>DATABASE_URL</key>
	<string>https://unity-space-invaders-rt-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>